<script type="text/javascript" charset="utf-8">
    triggle = { 
        products : <%= @products %>,
        chufas   : <%= @chufas %>,
        destcats : <%= @destcats %>,
        linetypes : <%= @linetypes %>
    }
    originValue = { 
        product : <%= flash[:product].to_json.html_safe %> || triggle.products[0],
        chufa : <%= flash[:chufa_name].to_json.html_safe %> || [],
        linetype : <%= flash[:linetype_name].to_json.html_safe %> || [],
        price : <%= flash[:price].to_json.html_safe %> || [],
        days : <%= flash[:days].to_json.html_safe %> || [],
        destcat : <%= flash[:dest_name].to_json.html_safe %> || []
    }
    jQuery(document).ready(function(){
        initForm("ajax") //启动autocomplete
    });
</script>
<div class="wrapper col3">
  <div id="homecontent">
      <table>
          <tr>
              <td>
                  <table style='margin:0px;'>
                      <td>
                      <ul class='tilesearch-parent tilesearch-product'>  <strong >产品类型:</strong></ul>
                      <ul class='tilesearch-parent tilesearch-chufa'>    <strong >出发地:</strong></ul>
                      <ul class='tilesearch-parent tilesearch-destcat'>  <strong >目的地:</strong></ul>
                      <ul class='tilesearch-parent tilesearch-linetype'> <strong >线路类型:</strong></ul>
                      <div class='tilesearch-parent tilesearch-time'>     
                          <div style='display:inline;'><span>出团时间起:</span><input readonly id='dateStart' value = <%= flash[:daystart] %>></div>
                          <div style='display:inline;'><span id='tilesearch-end'>出团时间止:</span><input readonly id='dateEnd' value = <%= flash[:dayend]%> ><u>清除</u></div>
                      </div>
                      <ul class='tilesearch-parent tilesearch-day'><strong >天数:</strong></ul>
                      <ul class='tilesearch-parent tilesearch-price'><strong >价格:</strong></ul>
                      </td>
                  </table>
              </td>
          </tr>
          <tr>
              <td>
                  <div style='clear:both;'>
                      <form action="/homes" class='quickSearch' id="quickSearch" method='get' style='width:initial;border-color:#ccc;'>
                          <table id='quickSearch-table'>
                           <tr>
                            <input id='productS' name='type[quick_product]' hidden=true value= <%= flash[:quick_product] %>></input>
                            <td>
                                <label style='width:90px;' >线路名称：</label>
                            </td>
                            <td>
                            <input id='lineName' name='quick_search[line_name]' value= <%= flash[:line_name] %>></input>
                             </td>
                            <td>
                                <label style='width:90px;' >关键字：</label>
                            </td>
                            <td>
                                <input  id='lineNumber' name='quick_search[line_number]' value= <%= flash[:line_number] %>></input>
                            </td>
                            <td>
                                <label style='width:90px;' >批发商：</label>
                            </td>
                            <td>
                                <input id='pifaName' name='quick_search[pifa_name]' value= <%= flash[:pifa_name] %>></input>
                            </td>
                           </tr>
                          </table>
                         <div style="padding-left:800px"> <button>快速查找</button></div>
                      </form>
                  </div>
              </td>
          </tr>
      </table>


      <div class="column2" style='clear:both;'>
      <h2>旅游发团搜索结果</h2>
      <% if @results %>
      <ul>
          <% @search_results.each do |r| %>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/794_s.jpg" alt="" /></a></div>
          <% unless r["visatype_name"]%>
            <b>线路名称 ：</b><strong><a href="#"><%=r["line_name"]%></a></strong><br>
            <b>产品类型 ：</b><%=r["product_type"]%><br>
            <b>线路编号 ：</b><%=r["id"]%><br>
            <b>出发地 ：</b><%=r["chufa_name"]%><br>
            <%if r["dest_name"]%>
              <b>目的地</b>:
              <% r["dest_name"].each do |n|%>
                <%=n%> &nbsp
              <% end %>
              <br>
            <%end %>
            <b>品牌名称 ：</b><%=r["pifa_name"]%><br>
            <b>天数 ：</b><%=r["days"]%><br>
            <b>星级 ：</b><%=r["star"]%><br>
            <% if r["foods"] %>
              <b>餐食 ：</b><%=r["foods"] %><br> 
            <% end %>
            <%if r["house_name"]  %>
              <b>酒店类型 ：</b><%=r["house_name"] %><br> 
            <% end %>
            <b>有效期起 ：</b><%=r["daystart"]%><br>
            <b>有效期止 ：</b><%=r["dayend"]%><br>
            <b>总位 ：</b><%=r["total"]%>   <b>剩位 ：</b><font color="red"><%=r["left"]%></font><br>
            <b>出发日期 ：</b><%=r["fatuanri"]%><br>
            <b>同行价 ：</b><%=r["tonghang"]%><br>
            <b>直客价 ：</b><%=r["zhike"]%><br>
            <b>线路说明 ：</b><%=r["detail"]%><br>
          <% else %>
            <b>线路名称 ：</b><strong><a href="#"><%=r["line_name"]%></a></strong><br>
            <b>线路编号 ：</b><%=r["id"]%><br>
            <b>送签地 ：</b><%=r["songqiandi"]%><br>
            <b>送签国 ：</b><%=r["songqianguo"]%><br>
            <b>签证类型 ：</b><%=r["visatype_name"]%><br>
            <b>所需资料 ：</b><%=r["document"]%><br>
            <b>所需时间 ：</b><%=r["days"]%>个工作日<br>
            <b>签证说明 ：</b><%=r["detail"]%><br>
            <b>有效期起 ：</b><%=r["daystart"]%><br>
            <b>有效期止 ：</b><%=r["dayend"]%><br>
            <b>同行价 ：</b><%=r["tonghang"]%><br>
            <b>直客价 ：</b><%=r["zhike"]%><br>
          <% end %>
        </li>
        <% end %>
      </ul>
      <div class="digg_pagination">
        <%= will_paginate @results, :container => false, :param_name => "quick_search_page" %>
      </div>
      <%else%>
        没有该类型的发团
      <% end %>
      </div>
    </div>
    <div class="fl_right">
    </div>
    <br class="clear" />
  </div>
</div>
