<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
        //其他选择 -- 彬
        $(".search-product").singleTriggle({ 
            children : ["出境跟团游", "国内跟团游", "自由人", "签证"],
            callback : { 
                click : function (el, value, event) { 
                    $(".search-product").val(value);
                }
            }
        })

        $(".search-chufa").singleTriggle({ 
            children : [
                "北京", "天津", "沈阳", "石家庄", "青岛", "大连", "太原", "上海"
            ],
            callback : { 
                click : function (el, value, event) { 
                    $(".search-chufa").val(value);
                }
            }
        });

        $(".search-descat").multiTriggle ({ 
            children : [
                { value : "欧洲"      },
                { value : "美洲"      },
                { value : "大洋洲"    },
                { value : "中东非洲"  },
                { value : "东南亚", children : [
                    "泰国", "新加坡", "马来西亚", "菲律宾", "印度尼西亚", "越南", "柬埔寨", "缅甸", "老挝", "文莱",
                    "曼谷", "清迈", "云顶", "沙巴", "槟城", "宿雾", "保和", "巴厘", "兰卡威", "绿中海", "邦咯岛", "芭提雅",
                    "普吉岛", "苏梅岛", "吉隆坡", "波德申", "马尼拉", "长滩岛", "巴拉望", "雅加达", "珍拉丁湾"
                ] },
                { value : "南亚"      },
                { value : "日韩朝鲜"  },
                { value : "马代"      },
                { value : "塞班"      },
                { value : "亚洲其它"  },
                { value : "港澳台"    }
            ],
            callback : {
                save : function (value, event) { 
                    $(".search-descat").val(value);
                }
            }
        });

        $(".search-linetype").singleTriggle ({ 
            children : [ "周边", "特价", "海岛", "亲子", "包机", "蜜月", "自驾", "修学", "专列", "夕阳红", "高尔夫" ],
            select : 'multi',
            callback : { 
                save : function (value, event) { 
                    $(".search-linetype").val(value);
                }
            }
        });

        
        //表格校验开始
        jGrowl = { open: false };
        jQuery("#formID").validationEngine();

        //日期选择定义
        $("#dateEnd").glDatePicker({
            cssName: "android",
            onChange: function(target, newDate){
                 target.val
                 (
                     newDate.getFullYear() + "-" +
                     (newDate.getMonth() + 1) + "-" +
                     newDate.getDate()
                 );
           }
        });

        $("#dateStart").glDatePicker({
            cssName: "android",
            onChange: function(target, newDate){
                 target.val
                 (
                     newDate.getFullYear() + "-" +
                     (newDate.getMonth() + 1) + "-" +
                     newDate.getDate()
                 );
           }
        });

        quickSearchjGrowl(); 
        $.Move("quickSearchjGrowlWindow");
    });



    //autocomplete扩展方法
    function autocompleteSearch(dom,url,itemString){
        $(dom).autocomplete(url,{ 
            max:12,
            delay:1,
            dataType: "json",
            parse: function(data) {  
              return $.map(eval(data), function(row) {  
                  return {  
                       data: row,  
                       result: row.name
                    }  
                });
            },  
            formatItem: function(item) {  
                if(!itemString)
                  return   item.name  ;  
                else
                  return itemString;
            },  
        });
    }

    //定义函数
    function initForm(){ 
        jQuery("#quickSearch").validationEngine();
        //autocomplete定义标签
        autocompleteSearch("#pifaName","/homes/autocomplete_search.json?model=Pifa");
        autocompleteSearch("#lineName","/homes/autocomplete_search.json?model=Linename");
    }

    //查询拖放窗口
    function quickSearchjGrowl(){ 
        /* 前台使用快速搜索代码  --> 复制这里的代码可以随时在html.erb中使用
        <%= form_tag "/homes/quick_search", :id => "quickSearch", :class => "quickSearch", :method => "get" do %>
        产品分类<font  color="red">*</font>：
        <%=text_field :type, :product, :id =>"productS", :class => "validate[required]", :value => flash[:product_type], :size => 20 %><br>
        线路编号：
        <%=text_field :search, :line_number, :id =>"lineNumber",:value => flash[:line_number], :size => 20 %><br>
        品牌编号：
        <%=text_field :search, :pifa_name, :id =>"pifaName",:value => flash[:pifa_name], :size => 20 %><br>
        <button>确定</button>
        <%end%>
        */

        if(!jGrowl.open){  
            var form_start = '<%= form_tag "/homes/quick_search", :id => "quickSearch", :class => "quickSearch", :method => "get" do %>';
            var product = '产品分类<font  color="red">*</font>：<%=text_field :type, :product, :id =>"productS", :class => "validate[required]", :value => flash[:product_type], :size => 20 %><br>';

            var line_name = '线路名称：<%=text_field :search, :line_name, :id =>"lineName",:value => flash[:line_name], :size => 20 %><br>';
            var line_number = '线路编号：<%=text_field :search, :line_number, :id =>"lineNumber",:value => flash[:line_number], :size => 20 %><br>';
            var pifa_name = '品牌编号：<%=text_field :search, :pifa_name, :id =>"pifaName",:value => flash[:pifa_name], :size => 20 %><br>';
            var button='<button>确定</button>';
            var form_end = '<% end %>';

            var title="快速查询";
            var content_string = form_start + product + line_number + line_name + pifa_name +  button + form_end;
            return $("#quickSearchjGrowlWindow").jGrowl(content_string,{ 
                sticky: true,
                header: title,
                close: function(){ 
                    jGrowl.open = false;
                },
                afterOpen: function(){ 
                    jGrowl.open = true;
                    initForm();
                },
   			   		 nimateOpen: { 
				   		     height: "show",
				   		     width: "show"
				   	   },
            });
        }
    }

</script>

      <div id="quickSearchjGrowlWindow"></div>

<div class="wrapper col3">
  <div id="homecontent">
    <div class="fl_left">
      <div class="column2">
        <ul>
          <li>
            <form id="formID" class="formular" action="">
            <b>详细搜索栏</b><br>
                产品分类<font  color="red">*</font>：<input readonly class="validate[required[alertProduct]] search-product"  name="product" id="product"></input>
                出发地 ：<input class='search-chufa' type="text" readonly></input>
                目的地：<input class='search-descat' type="text" readonly></input>
                线路类型：<input class='search-linetype' type="text" readonly></input>
                天数：<input type="text" readonly></input>
                价格：<input type="text" readonly></input>
                出团时间起：<input  readonly name="dateStart" id="dateStart"></input>
                出团时间止：<input  readonly name="dateEnd" id="dateEnd"></input>
                <button>高级搜索</button>
            </form>

          </li>
        </ul>
        <br class="clear" />
      </div>



      <div class="column2">
      </div>
    </div>

    <div class="fl_right">

        <% if flash[:search_result] %>
            <% flash[:search_result].each do |r| %>
              <%= r.id %>
            <% end %>
        <% end %>

      <h2>热门旅游</h2>
      <ul>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/794_s.jpg" alt="" /></a></div>
          <p><strong><a href="#">沈阳、长春净月谭滑雪、吉林雾凇、哈尔滨双飞五天游BF</a></strong></p>
          <p>广州白云机场乘飞机飞往沈阳。抵达后游览清太祖努尔哈赤和清太宗皇太极修建并使用过，距今已有370余年历史的宫殿——沈阳故宫（自理60元/人，2小时）。它是中国历史上最后的一个封建王朝的发祥重地，也是清统一中国后东北地区政治经济中心，是中国现存仅次于北京故宫的最完整的宫殿建筑。参观历史名人奉系军阀首领“中华民国陆海军大元帅”张作霖和其长子“千古功...</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/1416097_1.m_s.jpg" alt="" /></a></div>
          <p><strong><a href="#">龙门天然温泉、开心农场休闲一天游-HX</a></strong></p>
            <p>A. 泡 亚洲罕见的天然山顶温泉 B. 玩 尽情玩转现实版的开心农场 C. 赏 国家级的龙门农民画博物馆 10:00 抵达景区参观国家级的龙门农民画博物馆，2010年，国家级农民画博物馆在惠州天然温泉度假村落成，龙门农民画，被誉为“岭南奇葩”，取材于古老的民间故事、传说和现实 生活，以其色彩明艳、图饱满、浓墨重彩、夸张变形的独特艺术风格，深刻反映出当地独特的文化和人民群众对生活的热爱</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li>
          <div class="imgholder"><a href="#"><img src="/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
        <li class="last">
          <div class="imgholder"><a href="#"><img src="/images/demo/80x80.gif" alt="" /></a></div>
          <p><strong><a href="#">Atnatis dolor tincidunt nulla</a></strong></p>
          <p>Feugiatrutrum rhoncus semper enim massa eu intesque ipsum velit orci dolorem. Atnatis dolor tincidunt nulla elit auctortis laculisi elit fauctortor natis loreet.</p>
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
