<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Travel 旅游网</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>

<%= javascript_include_tag "jquery-1.6.min.js" %>

<%= javascript_include_tag "jquery.slidepanel.setup.js" %>
<%= javascript_include_tag "jquery.cycle.min.js" %>
<%= javascript_include_tag "jquery.cycle.setup.js" %>

<!表单验证 >
<%= javascript_include_tag "jquery.validationEngine-zh_CN.js" %>
<%= javascript_include_tag "jquery.validationEngine.js" %>

<!时间选择>
<%= javascript_include_tag "glDatePicker.js" %>


<!即时搜索>
<%= javascript_include_tag "jquery.autocomplete.js" %>

<!其他选择>
<%= javascript_include_tag "single-triggle.js" %>
<%= javascript_include_tag "multi-triggle.js" %>

<!黑色弹出窗口 >
<%= javascript_include_tag "jquery.jgrowl.js" %>
<%= javascript_include_tag "move.js" %>

<!其他选择>
<%= javascript_include_tag "single-triggle.js" %>
<%= javascript_include_tag "multi-triggle.js" %>

<%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper col0">
  <div id="topbar">
    <div id="slidepanel">
      <div class="topbox">
        <h2>travel 介绍</h2>
        <p>travel旅游网荟萃100万条国内外的跟团、自由行线路行程安排，服务标准，线路报价！提供最专业的旅游线路搜索、比较、预订服务！以及最详尽的旅游景点介绍、游记攻略、旅游...</p>
        <p class="readmore"><a href="#">更多 &raquo;</a></p>
      </div>
      <div class="topbox">
        <h2>管理员登录</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>Teachers Login Form</legend>
            <label for="teachername">帐号:
              <input type="text" name="teachername" id="teachername" value="" />
            </label>
            <label for="teacherpass">密码:
              <input type="password" name="teacherpass" id="teacherpass" value="" />
            </label>
            <label for="teacherremember">
              <input class="checkbox" type="checkbox" name="teacherremember" id="teacherremember" checked="checked" />
              记住我</label>
            <p>
              <input type="submit" name="teacherlogin" id="teacherlogin" value="登录" />
              &nbsp;
              <input type="reset" name="teacherreset" id="teacherreset" value="重置" />
            </p>
          </fieldset>
        </form>
      </div>
      <div class="topbox last">
        <h2>普通用户登录</h2>
        <form action="#" method="post">
          <fieldset>
            <legend>pupilname</legend>
            <label for="pupilname">帐号:
              <input type="text" name="pupilname" id="pupilname" value="" />
            </label>
            <label for="pupilpass">密码:
              <input type="password" name="pupilpass" id="pupilpass" value="" />
            </label>
            <label for="pupilremember">
              <input class="checkbox" type="checkbox" name="pupilremember" id="pupilremember" checked="checked" />
              记住我</label>
            <p>
              <input type="submit" name="pupillogin" id="pupillogin" value="登录" />
              &nbsp;
              <input type="reset" name="pupilreset" id="pupilreset" value="重置" />
            </p>
          </fieldset>
        </form>
      </div>
      <br class="clear" />
    </div>
    <div id="loginpanel">
      <ul>
        <li class="left">此处登录 &raquo;</li>
        <li class="right" id="toggle"><a id="slideit" href="#slidepanel">下拉</a><a id="closeit" style="display: none;" href="#slidepanel">收缩</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->

<div class="wrapper col1">
  <div id="header">
    <div id="logo">
      <h1><a href="#">travel</a></h1>
      <p>travel旅游网荟萃100万条国内外的跟团、自由行线路行程安排</p>
    </div>
    <div id="topnav">
      <ul>
        <li class = <%=@index%> ><a href="/">首页</a></li>
        <li><a href="#" onclick=quickSearchjGrowl()>快速查询</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>

<%= yield %>

<div class="wrapper col4">
  <div id="footer">
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <div class="footbox last">
      <h2>Lacus interdum</h2>
      <ul>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li><a href="#">Praesent et eros</a></li>
        <li><a href="#">Lorem ipsum dolor</a></li>
        <li><a href="#">Suspendisse in neque</a></li>
        <li class="last"><a href="#">Praesent et eros</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2010 - 2020 - <a href="#">Travel</a></p>
    <p class="fl_right"> by <a href="" title="">Mouse</a></p>
    <br class="clear" />
  </div>
</div>
</body>
</html>
